{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
<h1>Articles</h1>
{% if article %}


<table id="articles" class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Designation</th>
      <th>Description</th>
      <th>Prix</th>
    </tr>
    <tr>
      <th>{{article.id}}</th>
      <th>{{article.designation}}</th>
      <th>{{article.description}}</th>
      <th>{{article.prix}}</th>
  </thead>
</table>
{% else %}

<p> Aucun articles </p>
{% endif %}

{% endblock %}



















